@import '../styles/variaveis.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $cor-secundaria;
    color: black;
}
main{
    background-color: white;

    .head{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 60px 100px; 
        background-color: $cor-secundaria;
        width: 100%;

        h2{
            font-size: 1.2rem;
        }
        h1{
            font-size: 3.5rem;
        }
    }
    .container_beneficios_cards{
        padding: 0 100px;
        
    }
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $cor-primaria;
    padding: 22px;

    h1{
        font-size: 1.5rem;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;

        a{
            list-style: none;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 600;
            color: black;
        }
    }
}
footer{
    display: flex;
    justify-content: space-around;

    padding: 30px 0;
    background-color: $cor-primaria;

    h1{
        font-size: 1.5rem;
    }

    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        img{
            width: 200px;
        }
    }
    .contatos{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .borde{
            padding-bottom: 10px;
            border-bottom: 2px solid black;
        }
        .icons{
            display: flex;
            align-items: center;
            gap: 25px;
            height: 26px;
        }
    }
    .informacoes{
        display: flex;
        flex-direction: column;
        gap: 40px;
        
        div{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        a{
            text-decoration: none;
            list-style: none;
            color: black;
            font-size: 1.2rem;
        }
    }
}
.footer{
    background-color: $cor-primaria;
    padding: 15px 200px;
    font-size: 1rem;
}