* {
  margin: 0;
  padding: 0;
}

main {
  background-color: white;
}
main .card_verde {
  background-color: #31C957;
  height: 480px;
  position: relative;
  left: 20%;
}
main .beneficios_itens {
  display: flex;
  gap: 40px;
  position: relative;
  right: 35%;
  padding-left: 165px;
  padding-top: 50px;
  margin-right: 0;
}
main .texto_branco {
  color: white;
}
main .container_beneficios {
  margin-bottom: 100px;
}
main .head {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 60px 100px;
  background-color: #D0FFC9;
  width: 100%;
}
main .head h2 {
  font-size: 1.2rem;
}
main .head h1 {
  font-size: 3.5rem;
}
main .card_img img {
  position: relative;
}
main .card_img h3 {
  position: absolute;
  top: 57%;
  right: 56%;
  background-color: black;
  color: white;
  padding: 8px 10px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 5px 0 0 5px;
}
main .img02 h3 {
  top: 15%;
  right: 44.5%;
}
main .img03 h3 {
  top: 199.5%;
}
main .card_texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 80px;
  margin-top: 20px;
}
main .card_texto h1 {
  font-size: 2rem;
}
main .card_texto ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
}
main .card_texto ul h2 {
  font-size: 1.5rem;
}
main .card_texto li {
  margin-left: 25px;
  font-size: 1.2rem;
}
main .card_texto button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: #31C957;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  gap: 15px;
  width: 205px;
  height: 56px;
}
main .card_texto button h1 {
  font-size: 1rem;
}
main .container_beneficios_cards {
  display: flex;
  gap: 50px;
  padding: 0 100px;
  margin-top: 100px;
}
main .container_beneficios_cards .btn_branco {
  background-color: white;
  color: #31C957;
  margin-left: 92%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #31C957;
  padding: 22px;
}
header h1 {
  font-size: 1.5rem;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
header nav a {
  list-style: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  background-color: #31C957;
}
footer h1 {
  font-size: 1.5rem;
}
footer .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer .logo img {
  width: 200px;
}
footer .contatos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .contatos .borde {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}
footer .contatos .icons {
  display: flex;
  align-items: center;
  gap: 25px;
  height: 26px;
}
footer .informacoes {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .informacoes div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .informacoes a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 1.2rem;
}

.footer {
  background-color: #31C957;
  padding: 15px 200px;
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */