*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #144d97;
    color: white;
    font: normal normal 1em arial;
}
header h1{
    text-align: center;
    padding: 10px;
}
section{
    height: 400px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
input#numero{
    padding: 2.5px;
    font-size: 1em;
}
#bt{
    width: 125px;
    margin: 10px 200px 5px 218px;
    font-size: 1em;
    padding: 2.5px;
}
div#res{
    text-align: start;
    color: black;
    background-color: white;
    width: 250px;
    height: 250px;
    margin: 10px 140px;
    padding: 10px;
}