*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-align: center;
        .links{
            display: flex;
            align-items: center;
            gap: 2rem;
            a{
                white-space: nowrap;
                color: white;
                text-decoration: none;
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        .busca{
            display: flex;
            align-items: center;
            gap: 1rem;
            input{
                height: 38px;
                width: 150px;
                align-items: center;
                padding-left: 1rem;
            }
            button{
                height: 38px;
                padding: 9px 12px;
                background-color: black;
                border: white solid 1px;
                color: white;
                font-size: 16px;
            }
        }
}
header{
    img{
        width: 100%;
    }
}
.categorias{
    h1{
        display: flex;
        align-items: center;
        margin: 2.5rem;
        justify-content: center;
        font-size: 32px;
    }
    .div_categorias{
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 0 165px;
        div{
            display: flex;
            flex-direction: column;
            background-color: black;
        }
        p{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            color: white;
            padding: 8px 0;
        }
    }
}
.produtos{
    margin-top: 48px;
    h1{
        display: flex;
        margin: 2.5rem;
        justify-content: center;
        font-size: 32px;
    }
    .produtos_itens{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 165px;
        font-family: Arial, Helvetica, sans-serif;

        .produtos_item{
            border: solid 1px rgba(128, 128, 128, 0.205);
        }
        
        div{
            width: 350px;
            
            
            h3{
                margin: 16px 0 16px 16px;
                font-weight: bold;
            }
            div, button{
                margin-left: 16px;
                margin-bottom: 16px;
            }
            div{
                display: flex;
                flex-direction: column;
                gap: 16px;
                font-size: 14px;
            }
            .rs{
                font-weight: bolder;
                font-size: 16px;
            }
            button{
                width: 107px;
                height: 38px;
                background-color: #9353FF;
                color: white;
                font-size: 16px;
                border: none;
            }
        }
    }
}
.facilidades{
    background-color: black;
    margin-top: 80px;
    padding: 40px 0;
    h1{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        font-size: 32px;
        color: white;
    }
    .facilidades_itens{
        display: flex;
        justify-content: center;
        color: white;
        margin: 0 165px;
        div{
            width: 304px;
        }
    }
}
.email{
    border: solid 1px black;
    display: flex;
    justify-content: center;
    margin: 65.5px 355.5px;
    .email_itens{
        display: flex;
        flex-direction: column;
        width: 729px;
        padding: 40px 16px;
        
        h3{
            display: flex;
            justify-content: center;
            font-size: 22px;
            text-align: center;
            margin-bottom: 44px;
        }
        div{
            display: flex;
            justify-content: center;
            #input_email{
                width: 456px;
                height: 38px;
                padding-left: 1rem;
                font-size: 16px;
            }
            #input_submit{
                width: 84px;
                height: 42px;
                background-color: #9353FF;
                color: white;
                font-size: 16px;
                border: none;
            }
            #input_submit:active{
                background-color: #370096;
            }
        }
    }
}
.email_submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 65.5px auto;
    width: 700px;
    .email_submit_cadastrado{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20.5px 64px;
        background-color: black;
        color: white;
        font-size: 16px;
        font-weight: 400;
    }
    .email_submit_texto{
        margin-top: 2rem;
        font-size: 14px;

    }
}
footer{
    display: flex;
    padding: 16px 0;
    font-size: 14px;
    justify-content: center;
    background-color: black;
    color: white;

}